<p>Dear Customer,</p>
<p>We noticed that your latest invoice is overdue. Please settle the outstanding amount immediately to avoid service disruption. You can view and pay your invoice by clicking the link below:</p>
<p><a href="http://fake-invoice-link.com">Pay Invoice</a></p>
<p>If you have already made the payment, please disregard this message. For any inquiries, contact our support team at support@fakecompany.com.</p>
<p>Thank you for your prompt attention to this matter.</p>
<p>Sincerely,<br>Billing Department<br>Utility Services Inc.</p>

