<p>Dear Valued User,</p>
<p>Due to multiple unsuccessful login attempts, we have temporarily locked your account. To unlock your account, please verify your identity by clicking the link below and completing the required steps:</p>
<p><a href="http://account-lock-scam.com">Unlock Account</a></p>
<p>If you did not attempt to log in, please disregard this message and ensure your account security settings are up to date.</p>
<p>For any assistance, contact our support team at support@phishingscam.com.</p>
<p>Thank you,<br>Security Team<br>PhishingScam Co.</p>

