<p>Dear Valued Customer,</p>
<p>We have detected unusual activity on your account. As a precautionary measure, we have temporarily restricted access to your account. To restore full access, please click the link below and verify your account information.</p>
<p><a href="http://malicious-link.com">Verify Account</a></p>
<p>Please note that if you do not verify your account within 24 hours, your account will be permanently suspended.</p>
<p>We apologize for any inconvenience this may cause and appreciate your prompt attention to this matter.</p>
<p>Thank you,<br>Security Team<br>Bank of Trust</p>

